body {
  background-image: url("D:/SanberCode/pertemuan ke 2/Public/Image/pattern.jpg");
  margin: 0px;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding-right: 10px;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
section {
  margin-top: 65px;
}
h1 {
  background-color: white;
  font-size: 34pt;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
  padding: 25px;
  color: black;
}
article {
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
  padding: 25px;
}
footer {
  background-color: black;
  color: white;
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
h5 {
  font-size: 12pt;
  padding: 10px;
  margin: 0px;
}
